In [14]:
import numpy as np
from sklearn import datasets
import seaborn as sb
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report,confusion_matrix
import pandas as pd

In [23]:
df=datasets.load_iris()
df_data=pd.DataFrame(df.data,columns=df.feature_names)
df_data['target']=df.target
df_data.head()
df_data.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [ ]:
sb.pairplot(df_data,hue='target',size=1.5)

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')